.container .menu ul li a {
  color: #ffffff;
}
.header-img {
  height: min(50vh, 35rem);
  width: 100%;
  background: url("../images/terms-and-conditions/terms-and-conditions-header.webp")
    no-repeat center center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

h2 {
  color: #2f2b54;
}

p{
  margin-bottom: 2em;
}
